/* I LOVE J */
*{
    /* border: solid 1px; */
}
/* actual design */
.navbar-brand{
    width: 25em;
    display: flex;
    justify-content: center;
}
.navbar-brand img{
    width: 40%;
}
.front{

    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(main/main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.front div{
    width: 45%;
    height: fit-content;
}
.left{
    object-fit: contain;
}
.left img{
    width: 100%;
}
.right{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: clamp(10px, 1vw, 150px);
    display:flex;
    justify-content: space-evenly;
    filter: drop-shadow(0 10px 50px rgb(0, 0, 0));
}
.cosplay{
    display: flex;
    justify-content: space-evenly;
    align-content: center; 
    flex-wrap: wrap;
    padding: 100px;
    width: 100%;
    background-color: #00243d;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
.card{
    margin: 1em;
}

.bruh{
    padding-bottom: 10em;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgb(9, 34, 63), rgb(10, 1, 36));
}
.left2{
    width: 40%;
    border: solid 1px white;
    border-radius: 20px;
}
.right2{
    padding: 3em;
    font-size: clamp(15px, 1vw, 150px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: fit-content;
    border: solid 1px white;
    border-radius: 20px;
}
@media (max-width: 500px) {
    .front div{
        width: 90%;
    }
    .front{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left2{
        width: 100%;
    }
    .right2{
        width: 100%;
    }
    .bruh{
        flex-direction: column;
        display: flex;
    }
}